:root {
    --color-background:#f7e8d7;
    --color-background-nav:#bc7444;
    --color-background-home:#dbb89a ;
    --color-text-light:rgb(252, 251, 251);
    --color-text-title:#a4846a ;
    --color-text-dark:black;
  }


  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

  }

  html,
  body{
    background-color: var(--color-background);
  }

  a{
    text-decoration: none;
    transition: 0.2s opacity;
  }

  a:hover{
    opacity: 0.8;
  }

  .container{
    width: 90%;
  }

  main{
    display: flex; 
   width: 100%;
   height: calc(100vh-120px);
   flex-direction: column;
}

.text-bottom{
  color: aliceblue;
}
